.chrome-plug-spm-btn {
    display: inline-block;
    height: 25px;
    margin-bottom: 0;
    padding: 0 9px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
    background-color: #4d7fff;
    background-image: none;
    -webkit-transition: color .15s ease-out, background-color .15s ease-out;
    -moz-transition: color .15s ease-out, background-color .15s ease-out;
    -ms-transition: color .15s ease-out, background-color .15s ease-out;
    -o-transition: color .15s ease-out, background-color .15s ease-out;
    transition: color .15s ease-out, background-color .15s ease-out;
}

.chrome-plug-spm-input {
    display: inline-block;
    height: 26px;
    font-size: 12px;
    line-height: 1.224489797;
    padding: 0 7px;
    width: 220px;
    background-color: #626473;
    color: #fff;
    border: none;
    background-image: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-out;
    -moz-transition: border-color .15s ease-out;
    -ms-transition: border-color .15s ease-out;
    -o-transition: border-color .15s ease-out;
    transition: border-color .15s ease-out;
}

.chrome-plug-spm-input-common {
    display: inline-block;
    height: 26px;
    font-size: 12px;
    line-height: 1.224489797;
    padding: 0 7px;
    width: 160px;
    background-color: #fff;
    color: #333;
    border: 1px solid #eaeaea;
    background-image: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-out;
    -moz-transition: border-color .15s ease-out;
    -ms-transition: border-color .15s ease-out;
    -o-transition: border-color .15s ease-out;
    transition: border-color .15s ease-out;
}

.chrome-plug-spm-input:focus {
    outline: 0;
    border-color: #4d7fff;
    box-shadow: none;
}

.chrome-plug-spm-car *,
.chrome-plug-spm-car *::before,
.chrome-plug-spm-car *::after {
    box-sizing: inherit;
}

.chrome-plug-spm-car {
    position: fixed;
    top: 100px;
    right: -260px;
    height: 160px;
    z-index: 9999999999;
    box-sizing: border-box;
    -webkit-transition: right .3s ease-out;
    -moz-transition: right .3s ease-out;
    -ms-transition: right .3s ease-out;
    -o-transition: right .3s ease-out;
    transition: right .3s ease-out;
}

.chrome-plug-spm-inlineblock {
    display: inline-block;
}

.chrome-plug-spm-icon {
    width: 40px;
    height: 160px;
    border-radius: 4px;
}

.chrome-plug-spm-icon-box {
    width: 40px;
    height: 40px;
    background-color: #070a22;
    text-align: center;
    padding: 11px 0px;
}

.chrome-plug-spm-icon-box .img18 {
    width: 18px;
}

.chrome-plug-spm-icon-box .img20 {
    width: 20px;
}

.chrome-plug-spm-icon-box-1 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ed462f;
}

.chrome-plug-spm-icon-box-4 {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.chrome-plug-spm-add-name {
    color: #fff;
}

.chrome-plug-spm-count {
    color: #fff;
}

.chrome-plug-spm-car-content {
    max-height: 600px;
    min-height: 500px;
    overflow: auto;
    background-color: #070a22;
    width: 260px;
    padding: 20px;
    border: 1px solid #eaeaea;
}

.chrome-plug-spm-car-content-tab {
    background-color: #626473;
    margin: 0px -20px;
}

.chrome-plug-spm-car-content-tab-on {
    color: #fff;
    border-bottom: 1px solid #ed462f;
}

.chrome-plug-spm-car-content-title {
    width: 127px;
    height: 30px;
    text-align: center;
    padding: 4px 0px;
    color: #ccc;
}

.chrome-plug-spm-car-content-count {
    color: #fff;
    background-color: #ed462f;
    padding: 0px 2px;
    border-radius: 4px;
}

.chrome-plug-spm-input-box {
    height: 400px;
    max-height: 400px;
    overflow: auto;
    color: #fff;
}

.chrome-plug-save-error {
    color: red;
}

.chrome-plug-spm-hide {
    display: none;
}

.chrome-plug-spm-pointer {
    cursor: pointer;
}

.mr5 {
    margin-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt30 {
    margin-top: 30px;
}

.fl {
    float: left;
}

::-webkit-input-placeholder {
    color: #fff;
}

body .chrome-plug-spm-table {
    width: 100%;
    margin-bottom: 0;
}

body .chrome-plug-spm-table thead {
    background-color: #fafafa;
}

body .chrome-plug-spm-table thead tr th {
    height: 40px;
    padding: 0 8px;
    background-color: #FAFAFA;
    color: #999;
    font-weight: normal;
    vertical-align: middle;
    border: none;
}

body .chrome-plug-spm-table thead tr th:first-child {
    padding-left: 15px;
}

body .chrome-plug-spm-table thead tr th:last-child {
    padding-right: 15px;
}

body .chrome-plug-spm-table tbody a {
    color: #333;
}

body .chrome-plug-spm-table tbody a:hover {
    color: #4d7fff;
}

body .chrome-plug-spm-table tbody a.link {
    color: #999;
}

body .chrome-plug-spm-table tbody a.s_fc_brand {
    color: #4d7fff;
}

body .chrome-plug-spm-table tbody tr td {
    padding: 12px 8px 12px;
    line-height: 1.4;
    max-height: 90px;
    color: #333333;
    border: none;
    -webkit-transition: background-color 0.15s ease-out;
    -moz-transition: background-color 0.15s ease-out;
    -ms-transition: background-color 0.15s ease-out;
    -o-transition: background-color 0.15s ease-out;
    transition: background-color 0.15s ease-out;
}

body .chrome-plug-spm-table tbody tr td:first-child {
    padding-left: 15px;
}

body .chrome-plug-spm-table tbody tr td:last-child {
    padding-right: 15px;
}

body .chrome-plug-spm-table tbody tr td.align-right,
body .chrome-plug-spm-table thead tr th.align-right {
    text-align: right;
}